body {
	margin: 0;
}

.container {
	max-width: 800px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#header {
	background-color: #214478;
}

#header img {
	margin: 20px 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 64px;
}

#hamburger {
	display: none;
}

label[for="hamburger"] {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("/menu.svg");
	background-size: contain;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 20px;
	line-height: 64px;
}

#nav ul {
	list-style-type: none;
	padding-left: 0;
}

#nav ul li a {
	display: inline-block;
	padding: 10px;
	color: white;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #214478;
	background-color: white;
}

@media (min-width: 500px) {
	#nav ul {
		display: inline;
	}

	#nav ul li {
		display: inline;
	}

	label[for="hamburger"] {
		display: none;
	}

	#main {
		padding-top: 20px;
	}
}

@media (max-width: 499px) {
	#header img {
		max-width: 200px;
		margin: 15px 0;
	}

	label[for="hamburger"] {
		display: inline-block;
	}

	#nav {
		display: none;
		transition: height 0.2s;
	}

	#hamburger:checked ~ #nav {
		display: inline-block;
	}

	#nav ul li {
		display: block;
	}

	#main {
		padding-top: 10px;
	}
}
